<!-- main styling css page for users.html file -->
<!-- side navigation styling -->
.sidenav
{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0px;
    overflow-x: hidden;
    font-family: "jose", serif;
    background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400% ;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation:Gradient 15s ease infinite ;
    animation: Gradient 15s ease infinite;
    
}
@-webkit-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
<!-- side nav background styling required -->
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #ebe1f5;
    margin-top:15px;

}
.sidenav a:hover
{
    color: #ff36f9;
    background-color: #f5f5f5;
}
.userinfo
{
    height:125px;
    background-color: gray;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 25px;
    color: white;
    font-family: SourceSanPro sans-serif;
    font-size: 20px;
}

.userinfo img{

    width:75px;
    height: 75px;
    display: block;
    margin: auto;

}



/* css for main content*/
.nav
{
    height: 62px;
    background:url("../images/logoJPG.JPG") no-repeat,gray  ;
    background-blend-mode: color;
    background-size: 146px auto;
    padding: 10px 10px 10px 10px;
}


.nav a{
    margin-left: 12px;
    background-color: mediumvioletred;
}
article
{
    margin-top: 12px;
}
/* home.html styling   */
.nir-hom-search input{
    margin-right:12px ;
    width:232px;
    border-radius: 9px;
    border: 2px solid greenyellow;
    height: 29px;
    font-size: 19px;
    background:url("../images/search.png") no-repeat;
    background-size: 22px;
    padding: 2px 2px 2px 22px ;
}
.nir-hom-search ::placeholder{
    font-family: "SourceSanPro", serif;
    font-size: 18px;
    color: #ff7e3f;
}
.row
{
    margin-top:23px;
    margin-bottom: 22px;
}
.header
{
    height: 70vh;
    width: auto;
    background-color: rgba(12%,34%,34%,.5);
    border-radius: 9px;
    border: #ffdfc6 solid;
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);

}
.wd
{
    height: auto !important;
}
.header header
{
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: medium;
    color: #ececec;
}
.name
{
    width:auto;
    height:170px;
  /*  background-image: url("../images/purty_wood.png");*/
    border-radius:9px;
    padding-top: 23px;


}
