/*
general styling

 */
.nir-btn
{
    background-color: #2a6496 !important;
}
.nir-btn-sh
{
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);

}
.sidenav
{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0px;
    overflow-x: hidden;
    font-family: "jose", serif;
    background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400% ;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation:Gradient 15s ease infinite ;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #ebe1f5;
    margin-top:15px;

}
.sidenav a:hover
{
    color: #ff36f9;
    background-color: #f5f5f5;
}

.userinfo
{
    height:125px;
    background-color: gray;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 25px;
    color: white;
    font-family: SourceSanPro sans-serif;
    font-size: 20px;
}

.userinfo img{

    width:75px;
    height: 75px;
    display: block;
    margin: auto;

}



/* css for main content*/
.nav
{
    height: 62px;
    background:url("../images/logoJPG.JPG") no-repeat,gray  ;
    background-blend-mode: color;
    background-size: 146px auto;
    padding: 10px 10px 10px 10px;
}


.nav a{
    margin-left: 12px;
    background-color: mediumvioletred;
}
article
{
    margin-top: 12px;
}





/* main content area*/







.content
{
    background: url("../images/userbg2.jpg") repeat;
    margin-left: 200px;
    padding: 0px 0px;

}
article
{
    padding: 14px 14px 14px 14px;



}




/* home.html styling   */
.nir-hom-search input{
    margin-right:12px ;
    width:232px;
    border-radius: 9px;
    border: 2px solid greenyellow;
    height: 29px;
    font-size: 19px;
    background:url("../images/search.png") no-repeat;
    background-size: 22px;
    padding: 2px 2px 2px 22px ;
}
.nir-hom-search ::placeholder{
    font-family: "SourceSanPro", serif;
    font-size: 18px;
    color: #ff7e3f;
}
.row
{
    margin-top:23px;
    margin-bottom: 22px;
}
.header
{
    height: 70vh;
    width: auto;
    background-color: rgba(12%,34%,34%,.5);
    border-radius: 9px;
    border: #ffdfc6 solid;
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);

}
.wd
{
    height: auto !important;
}
.header header
{
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: medium;
    color: #ececec;
}
.name
{
    width:auto;
    height:170px;
  /*  background-image: url("../images/purty_wood.png");*/
    border-radius:9px;
    padding-top: 23px;


}
.name h4
{
    font-family: Lobster, serif;
    font-size: 200%;
    color: whitesmoke;
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
    animation: color_ch 100s infinite;
}
@keyframes color_ch {
    0%{ color:#000000}
    10%{ color: #ff8d04
    }
    20%{ color: #4cff1e
    }
    30%{ color: #3b46ff
    }
    40%{ color: #13ffee
    }
    50%{ color: #ff3612
    }
    60%{ color: #fff113
    }
    70%{ color: #d325ff
    }
    80%{ color: #e8ff74
    }
    90%{ color: #ffdab7
    }
    100%{ color:#000000}

}

 .header .name header
{

    color: #f5f5f5 !important;
     font-family: "pacifico", serif;
}
/* description styling

 */
 .header .desc
{
    padding: 13px 13px 13px 13px;
     font-weight: bolder;
     color: #000000;
     font-family: "jose", serif;
}
 .tools
 {
     position: relative;
    margin-top: 23px;

 }


/* single.html styling

........................
 */
.comments
{
    margin-top: 22px;

}
.comments h4
{
    color:white;
}
.comments textarea
{
    border: #2a6496 2px ;

}
.subRes
{
    margin-top:16px;
    margin-right: 43px;
}
.edit
{
    margin-top: 15vh;
    margin-bottom: 22vh;
    width: 65vh;
    height: 35vh;
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
}
.edit input[type="password"]
{

    margin-top:19px;
    margin-left: 16px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #b6b6b6;
    padding-left: 12px;
    padding-right: 12px;

}
.edit input[type="password"]:focus
{
    box-shadow: 0 0 12px rgba(81,203,238, 1);
}
.intro
{
    line-height: 32px;
    color: #24110f;
}
/* create_u styling
 styling the create article section the class starts with nir and cra
 */
.nir-cra,.nir-eve
{
    border-radius: 10px;
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
    padding:9px 9px 9px 12px;
    width: 700px;
    margin-left: 15%;
}
.nir-cra-edit
{
    margin-bottom: 345px;
    margin-left: 0;
}
.nir-cra-list
{
    width: auto;
    margin-top: 7px;
    background-color: white;
    padding: 9px 0 2px 15px;
}
.nir-cra-edit table tr:nth-child(even){background-color: #f2f2f2}
.nir-cra-name
{
    font-family: "Bodoni MT Black", serif;
    color: #ff8392;
    font-size: medium;
    margin-right: 234px;
}
.nir-cra-date
{
    font-size: larger;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #162bff;
}

/*forum styling
 */
.nir-fr
{
    padding: 16px 16px;
    margin-bottom: 270px;
}
.nir-fr header
{
    font-weight: bold;
    font-size: 19px;
    color:#2a6496;
}
.nir-fr hr
{
    border-color: blue;
}
.nir-fr-cre_tp_fr{
    /* create new topic form styling*/
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
    margin-top: 150px;
    margin-bottom: 220px;
    padding: 22px 22px ;
    border-radius: 9px;
    height: 100px;
    width: auto;

}
.nir-fr-cre_tp_fr button
{
    margin-top: 6px;
    margin-left: 9px;
}
/* forum questions styling

 */
.nir-fr-ques {
    margin-bottom: 420px;
}
.nir-fr-ques .thumbnail
{
    height:47px !important;;
}

.nir-fr-ques input[type='text']
{
    width:184px;
}

.nir-fr-ques td
{
   line-height: 39px !important;
    padding: 3px 3px 3px 3px;
    background-color: whitesmoke;
}
.nir-fr-ques table
{
    border-collapse: separate;
}
.nir-fr-ques table tr{

    margin-bottom: 4px;
    border-spacing: 5px 1rem;
}
.nir-fr-quesL
{
    background-color: whitesmoke;
    padding: 14px 14px 14px 14px;
    border-radius: 9px;
    width: auto;
    margin-bottom: 14px;
    left:200px;
    top:30px;

}
.nir-fr-repl
{
    background-color: #8b9076;
    padding: 12px 12px 12px 12px;
    border-radius: 9px;
}
.reply
{
    overflow: auto;
    overflow-scrolling: auto;
    margin-bottom: 270px;
}
.nir-fr-repl article
{
    border: 2px whitesmoke solid;
}
.nir-fr-put_answ
{
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
    margin-top: 100px;
    margin-bottom: 120px;
    padding: 22px 22px ;
    border-radius: 9px;
    height: 300px;
    width: auto;
}
.nir-fr-put_answ textarea
{
    height: 220px;
    width: 520px;
}
.dash
{
    margin-bottom: 300px;
}
/* the following lines are for styling the evar_posts.html */
.nir-evar {
        margin-bottom: 450px;
}

.nir-evar-header,.nir-evar-footer
{
    font-size: 18px;
}
.nir-evar-header
{
    font-style: initial;
    font-stretch: expanded;
}
.nir-evar-footer
{
    color:red;

}
/* styling users.html partial 

 */
.nir-user-lt header
{
    font-size: 17px;
    font-style: italic;
    background-color: white;
    padding-left: 18px;
}
.nir-user-lt
{
    margin-bottom: 250px;
}
.nir-user-lt td
{
    font-size: 16px;
    font-style: italic;
}