<div class="container-fluid">
    <div class="well-sm">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-6  edit">
            <h4 class="text-center">change password</h4>
            <form name="reg">
           <table>
               <tr>
                   <td>
                       <input type="Password" placeholder="Password" name="password" ng-model="password" minlength="5" maxlength="10" required >
                       <span class="error" ng-show="reg.password.$touched && reg.password.$invalid">The password is invalid</span>
                   </td>
               </tr>
               <tr>
                   <td>
                       <input type="password" placeholder="Confirm Password" name="cnf_password" ng-model="cnf_password" required>
                       <span class="error" ng-show="reg.cnf_password.$dirty && err_pass()">password mismatch</span>
                   </td>
               </tr>
           </table>
                <div class="subRes pull-right">
                    <button  ng-disabled="reg.$invalid"    ng-click="frmSub()"  class="btn btn-primary">Register</button>
                    <input type="reset" class="btn btn-primary" value="reset">
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>


    </div>

</div>